{% extends "layouts/base.html" %}

{% block title %} Settings {% endblock %} 

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

  

    <form id="profileForm" action="{% url 'profile_update' %}" method="POST">
        {% csrf_token %}
        <div class="row">
            <div class="container">
                <div class="card card-body border-0 shadow mb-4">
                    <h2 class="h5 mb-4">General information</h2>
                    <form>
                        <div class="row">
                            <div class="col-md-6 mb-3">
                                <div>
                                    <label for="first_name">First Name</label>
                                    <input class="form-control" name="first_name" id="first_name" type="text" value="{{ user.first_name }}" placeholder="Enter your first name" required>
                                </div>
                            </div>
                            <div class="col-md-6 mb-3">
                                <div>
                                    <label for="last_name">Last Name</label>
                                    <input class="form-control" name="last_name" id="last_name" type="text" value="{{ user.last_name }}" placeholder="Also your last name" required>
                                </div>
                            </div>
                        </div>
                        <div class="row align-items-center">
                            <div class="col-md-6 mb-3">
                                <div class="form-group">
                                    <label for="email">Username</label>
                                    <input class="form-control" id="username" placeholder="Username" value="{{ user.username }}" readonly>
                                </div>
                            </div>
                            <div class="col-md-6 mb-3">
                                <div class="form-group">
                                    <label for="email">Email</label>
                                <input class="form-control" name="email" id="email" value="{{ user.email }}">
                            </div>
                        </div>
                    </div>
                    
                    <div class="mt-3">
                        <button class="btn btn-gray-800 mt-2 animate-up-2" type="submit">Save all</button>
                    </div>
                </form>
            </div>
        </div>
    </form>
    <div id="profile-message"></div>

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}
    <script>
        document.getElementById("profileForm").addEventListener("submit", function(e) {

        e.preventDefault();

        let form = this;
        let formData = new FormData(form);

        fetch(form.action, {
            method: "POST",
            body: formData,
            headers: {
                "X-CSRFToken": document.querySelector('[name=csrfmiddlewaretoken]').value
            }
        })
        .then(response => response.json())
        .then(data => {

            let msg = document.getElementById("profile-message");

            if (data.status === "success") {
                msg.innerHTML =
                    '<div class="alert alert-success">' + data.message + '</div>';
            } else {
                msg.innerHTML =
                    '<div class="alert alert-danger">Update failed</div>';
            }

        })
        .catch(error => console.error("Error:", error));

    });
    </script>
{% endblock javascripts %}
